<a href="https://colab.research.google.com/github/Kshitijzaeden/ml/blob/main/Linear_Regression_with_multiple_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import warnings
warnings.simplefilter('ignore')

In [ ]:
df=pd.read_csv("homeprices.csv")
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [ ]:
#Data preprocessing

In [ ]:
import math
median_bedrooms=math.floor(df.bedrooms.median()) 
median_bedrooms

4

In [ ]:
#Filling the Na values with median using median function from math module

In [36]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms) 
df.bedrooms

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [ ]:
#Displaying the median values in csv

In [ ]:
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [ ]:
#Training the model to predict data using linear regression model by using object reg

In [ ]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [ ]:
reg.predict([[3400,3,40]])

array([543233.22835716])

In [ ]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [ ]:
reg.intercept_

221323.00186540396

In [ ]:
#  Y= m1x1 + m2x2 + m3x3 + b

In [ ]:
3400*112.06244194 + 3*23388.88007794 + 40*-3231.71790863+221323.00186540396

543233.228350024